server {
    server_name {{ sdg_api_hostname }}; # managed by Certbot

    location / {
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $http_host;
        proxy_set_header X-NginX-Proxy true;
        proxy_pass http://127.0.0.1:{{ sdg_api_pm2_port }};
        proxy_redirect off;
    }

    listen [::]:443 ssl ipv6only=on; # managed by Certbot
    listen 443 ssl; # managed by Certbot
    ssl_certificate /etc/letsencrypt/live/{{ sdg_api_hostname }}/fullchain.pem; # managed by Certbot
    ssl_certificate_key /etc/letsencrypt/live/{{ sdg_api_hostname }}/privkey.pem; # managed by Certbot
    include /etc/letsencrypt/options-ssl-nginx.conf; # managed by Certbot
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem; # managed by Certbot
}

server {
    if ($host = {{ sdg_api_hostname }}) {
        return 301 https://$host$request_uri;
    } # managed by Certbot

    listen {{ sdg_api_port }};
    listen [::]:{{ sdg_api_port }};
    server_name {{ sdg_api_hostname }};
    return 404; # managed by Certbot
}
